@model Project_63132244.Models.KhachHang

@{
    Layout = null;
    ViewBag.Title = "Đăng Ký";
}

<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="Muhamad Nauval Azhar">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="This is a login page template based on Bootstrap 5">
    <title>@ViewBag.Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    @using (Html.BeginForm("Register_User", "AccountKhachHangs_63132244", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <div class="text-center my-5">
            <img src="~/Images/logo.png" alt="logo" width="100">
        </div>
        <div class="form-horizontal card shadow-lg p-5 col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9" style="margin-left:32.5%">
            <h1 class="fs-4 card-title fw-bold mb-4">@ViewBag.Title</h1>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <p class="text-danger">@ViewBag.error</p>
            <div class="form-group">
                @Html.LabelFor(model => model.MaKhachHang, "Tên Tài Khoản", htmlAttributes: new { @class = "control-labe" })
                <div>
                    @Html.EditorFor(model => model.MaKhachHang, new { htmlAttributes = new { @class = "form-control", required = "required", @placeholder = "NTL23243"} })
                    @Html.ValidationMessageFor(model => model.MaKhachHang, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Password, "Mật Khẩu", htmlAttributes: new { @class = "control-label  " })
                <div>
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", required = "required", @type = "password" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.HoTen, "Họ và Tên", htmlAttributes: new { @class = "control-label  " })
                <div>
                    @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.DienThoai, "Điện Thoại", htmlAttributes: new { @class = "control-label  " })
                <div>
                    @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control", required = "required"  , @type = "number"} })
                    @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Avatar, "Ảnh Đại Diện", htmlAttributes: new { @class = "control-label  " })
                <div>
                    <input class="mt-1 mb-3" type="file" style="height:30px;" name="Avatar" accept="image/*" />
                    @Html.ValidationMessageFor(model => model.Avatar, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DiaChi, "Địa Chỉ", htmlAttributes: new { @class = "control-label  " })
                <div>
                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="d-flex align-items-center mt-3">
                <div class="text-center">
                    Đã Có Tài Khoản? <a href="/AccountKhachHangs_63132244/Login_User" class="text-dark">Đăng Nhập</a>
                </div>
                <button type="submit" class="btn btn-primary ms-auto">
                    Đăng Ký
                </button>
            </div>
        </div>
        <div class="text-center mt-5 text-muted">
            Copyright &copy; @DateTime.Now.Year
        </div>
    }
</body>

</html>
