@model Project_63132244.Models.QUESTION
@{
    ViewBag.Title = "Liên Hệ";
    Layout = "~/Views/Shared/UserLayout_63132244.cshtml";
}
<div class="contact-from-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="form-title col-md-12">
                    @if (ViewBag.SendSuccess != null && ViewBag.SendSuccess)
                    {
                        <div class="alert alert-success">
                            Đã gửi thành công!
                        </div>
                    }
                    <h2>Đóng Góp Ý Kiến & Báo Lỗi Sản Phẩm</h2>
                    <p>Điền Vào Mẫu Bên Dưới . Chúng Tôi Sẽ Phản Hồi Cho Bạn Trong Thời Gian Sớm Nhất. <br /> Trân Trọng ! </p>
                </div>
                <div id="form_status"></div>
                <div class="contact-form">
                    @using (Html.BeginForm("Contact", "Home_63132244", FormMethod.Post))
                    {
                        <div class="form-group d-flex">
                            <div class="col-md-6 ">
                                @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Họ và Tên", style = "height :50px" } })
                                @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @type = "email", placeholder = "Email", style = "height :50px" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group d-flex">
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", required = "required", style = "width: 100%;height : 50px", @type = "number", placeholder = "Số Điện Thoại" } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-6">
                                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control", required = "required", placeholder = "Tiêu đề", style = "height :50px" } })
                                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group d-flex col-md-12">
                            @Html.TextAreaFor(model => model.Messenge, new { @class = "form-control", required = "required", style = "width: 100%; height : 100px ", placeholder = "Messenge" })
                            @Html.ValidationMessageFor(model => model.Messenge, "", new { @class = "text-danger" })
                        </div><div class="form-group d-flex justify-content-center align-items-center">
                            <div class="col-md-offset-2  col-md-12">
                                <input type="submit" value="Gửi" class="btn btn-primary mt-2" />
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-form-wrap">
                    <div class="contact-form-box">
                        <h4><i class="fas fa-map"></i> Người Phát Triển</h4>
                        <p>Sinh Viên Nguyễn Thành Luân <br> NTU.K63.CNTT-5 <br> Khánh Hòa</p>
                    </div>
                    <div class="contact-form-box">
                        <h4><i class="far fa-clock"></i> Thời gian làm Project</h4>
                        <p>Từ ngày 05/11/2023 <br> Hiện Tại </p>
                    </div>
                    <div class="contact-form-box">
                        <h4><i class="fas fa-address-book"></i> Liên Hệ</h4>
                        <p>Phone: +00 111 222 3333 <br> Email:luan.nth.63cntt@ntu.edu.vn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>