
@{
    ViewBag.Title = "Quản Lý Khách Hàng";
    Layout = "~/Areas/Admin_63132244/Views/Shared/AdminLayout63132244.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "MaKhachHang", rowsPerPage: 15);
}
<h4 class="text-center text-primary"> Quản Lý Khách Hàng</h4>
<hr />
<div class="text-center" id="gridContent" style="font-weight:normal!important">
    <p class="h1 text-danger">@ViewBag.Error</p>
    <style>
        a {
            text-decoration: none
        }
    </style>
    @using (Html.BeginForm())
    {
        <div class="input-group rounded">
            <input value="@ViewBag.SearchString" style="height:50px ; border-radius:25px!important;"
                   type="search" class="form-control rounded" name="searchString" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <span id="search-addon">
                <input type="submit" name="searchString" value="Search" class="fas fa-search typesearch" style="height:50px ;margin-right:15px ; border-radius:25px!important;" />
            </span>
            <style>
                .typesearch {
                    background-color: #F28123 !important;
                }
            </style>
        </div>
    }
    @grid.GetHtml(
            tableStyle: "table table-bordered table-hover",
            fillEmptyRows: true,
            mode: WebGridPagerModes.Numeric,
            alternatingRowStyle: "alternatingRowStyle",
              columns: new[]  // colums in grid
             {
            grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex ),
            grid.Column("MaKhachHang","Tên Người Dùng"),
            grid.Column("HoTen","Họ và Tên"  ),
            grid.Column("DienThoai","Điện Thoại"),
grid.Column("MatKhau", "Mật Khẩu", format: (item) => new HtmlString("****")),
grid.Column("DiaChi","Địa Chỉ"),
grid.Column("Avatar","Ảnh Đại Diện",format: (@item) => new HtmlString("<img src='/Images/" + item.Avatar + "' alt='Ảnh Đại Diện' />")),
grid.Column("Chức năng", format:
@<text>
    <style>
        span:hover {
            cursor: pointer;
        }
    </style>
    <a href="@Url.Action("Edit",new { id = item.MaKhachHang})" class="edit-btn"><abbr title="Cập nhật dữ liệu"><span class="mdi mdi-pencil"></span></abbr></a>
    <a href="@Url.Action("Details",new { id = item.MaKhachHang})" class="edit-btn"><abbr title="Xem dữ liệu"><span class="mdi mdi-details"></span></abbr></a>
    <a href="@Url.Action("Delete",new { id = item.MaKhachHang})" class="edit-btn"><abbr title="Xóa dữ liệu"><span class="mdi mdi-delete"></span></abbr></a>
</text>),})
</div>

